.header {
    padding: 30px 12%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: 07001b;
    backdrop-filter: blur(10px);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links a {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #4d8eff;
}